apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: hello-k8s-prod
  namespace: argocd
spec:
  destination:
    namespace: default
    server: https://kubernetes.default.svc
  project: default
  source:
    helm:
      valueFiles:
        - values-prod.yaml
    path: helm
    repoURL: https://github.com/kienle1819/K8s-CICD.git
    targetRevision: HEAD